extends ../node_modules/jade-bootstrap/_bootstrap
append body
      .container
        h1= title
        h2= message
        ul
          li
            a(href="/")= "Go back"
          each val in files
            li
              a(href="/container/" + containername + "/" + val.name)= val.name
              a(href="/container/" + containername + "/" + val.name + "?delete" class="delete" title="Delete")= "D"
          li
            a(href="/upload/" + containername)= "New file"